.project-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image-container {
  position: relative;
}

.project-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.project-type {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  color: white;
}

.personal {
  background-color: #3b82f6;
}

.freelance {
  background-color: #22c55e;
}

.project-content {
  padding: 1rem;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.star-icon {
  color: #c2c23e;
  font-size: 1.5rem;
}

.project-description {
  color: #4b5563;
  margin-bottom: 1rem;
}

.project-technologies {
  display: flex;
  gap: 0.5rem;
}

.technology-logo {
  height: 1.5rem;
  width: 1.5rem;
}
