.tech-section {
  /* background-color: #1f2937; */
  background: #212121;
  color: #fff;
  padding: 5rem 0;
}

.tech-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.tech-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tech-description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
