* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  cursor: pointer;
}

span.type-personal {
  background-color: #3b82f6;
}

span.type-freelance {
  background-color: #22c55e;
}
